apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "telegraf.fullname" . }}
  labels:
    {{- include "telegraf.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "telegraf.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "telegraf.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: telegraf
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: 9090
              protocol: TCP
          env:
            - name: WS_URL
              value: "{{ .Values.env.wsUrl }}"
